@model Schedule_Planner.Models.UserModel
@{
    ViewData["Title"] = "My Account";
}
<h1>@ViewData["Title"]</h1>



<div class="card text-white bg-info mb-3" style="max-width: 20rem ;">
  <div class="card-header">Welcome, @Model.UserName</div>
  <div class="card-body">
    <ul class="card-text" >
        <li>My user name:   @Model.UserName</li>
        <li>My name:    @Model.Name</li>
        <li>My role:        @Model.Role</li>
    </ul>
  </div>
</div>

